/node_modules
/assets/css/material-dashboard.css.map
/npm-debug.log
angular2-university-domains-list/
material-dashboard-angular-master/.project
material-dashboard-angular-master/.settings/.jsdtscope
material-dashboard-angular-master/.settings/org.eclipse.wst.common.project.facet.core.xml
material-dashboard-angular-master/.settings/org.eclipse.wst.jsdt.ui.superType.container
material-dashboard-angular-master/.settings/org.eclipse.wst.jsdt.ui.superType.name
material-dashboard-angular-master/package.json
material-dashboard-angular-master/package.json
material-dashboard-angular-master/package.json
material-dashboard-angular-master/.settings/com.genuitec.eclipse.modernweb.common.core.prefs
material-dashboard-angular-master/package-lock.json
material-dashboard-angular-master/package-lock.json
material-dashboard-angular-master/package.json
